<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="header">
        <div th:if="${session.login == null}">
            <a href="signup">회원가입</a>
            <a href="signin">로그인</a>
        </div>

        <div th:if="${session.login == 'ok'}">
            <a href="mod?userId=${session.getId}">프로필수정</a>
            <input type="hidden" value="${session.getId}" id="user" />
        </div>

        <a href="commentWrite">글쓰기</a>
    </div>
</body>
</html>