<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>댓글화면</title>
</head>
<body>

    <a>회원가입</a>
    <a>글쓰기</a>
    <table>
        <tbody>
        <tr>
            <td>
                <img src="/"/>
            </td>
            <td>
                <p>name</p>
            </td>
            <td>
                <p>content</p>
            </td>
            <td>
                <a>추천</a>
            </td>
            <td>
                <a>반대</a>
            </td>
            <td>
                <p>time</p>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>