<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
</head>
<body>
    <form action="rest/user/add" method="post">
        id<input type="text" name="userId" />
        password<input type="text" name="password" />
        name<input type="text" name="name" />
        des<input type="text" name="des" />
        image<input type="text" name="image" />
        <input type="submit" value="회원가입" />
        <a>취소</a>
    </form>
</body>
</html>