<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
</head>
<body>
    <header th:include="fragment/header :: header"></header>

    <div th:if="${session.login == null}">
        <form action="../user/add" method="post" enctype="multipart/form-data" class="userinfo">
            id<input type="text" name="userId" />
            password<input type="text" name="password" />
            name<input type="text" name="name" />
            des<input type="text" name="des" />
            image<input type="file" name="image" />
            <input type="submit" value="회원가입" />
            <a>취소</a>
        </form>
    </div>

    <div th:if="${session.login == 'ok'}">
        <form action=".../user/add" method="post" id="userinfo" enctype="multipart/form-data" class="userinfo">
            id<input type="text" name="userId" th:value="${session.getId}" />
            password<input type="text" name="password" />
            name<input type="text" name="name" th:value="${userName}" />
            des<input type="text" name="des" th:value="${userDes}"/>
            image<input type="file" name="image" th:value="${userImage}"/>
            <input type="submit" value="수정" />
            <a>취소</a>
        </form>
    </div>
</body>
</html>